{% extends "home_cn/home.html" %}
{% block css %}
    <!--播放页面-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='jwplayer/skins/stormtrooper.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='ueditor/ueditor.config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='ueditor/ueditor.all.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
    <script>
        SyntaxHighlighter.all();
    </script>
    <style>
        footer {
            visibility: hidden;
        }
    </style>
    <!--播放页面-->
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="height:500px;">
                <div class="form-group">
                    <img src="{{ url_for('static',filename='uploads/'+product.logo) }}"
                         style="margin-top:5px;" class="img-responsive"
                         alt="">
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-inbox"></span>&nbsp;产品介绍</h3>
                    </div>
                    <div class="panel-body" style="height:459px;">
                        <table class="table">
                            <tr>
                                <td style="width:30%;color:#ccc;font-weight:bold;font-style:italic;">
                                    <span class="glyphicon glyphicon-barcode"></span>&nbsp;产品名称
                                </td>
                                <td>{{ product.title }}</td>
                            </tr>
                            <tr>
                                <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                    <span class="glyphicon glyphicon-tag"></span>&nbsp;类别
                                </td>
                                <td>{{ product.tag.name }}</td>
                            </tr>
                            <tr>
                                <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;上架时间
                                </td>
                                <td>{{ product.release_time }}</td>
                            </tr>

                            <tr>
                                <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;产品介绍
                                </td>
                                <td>
                                    {{ product.info|safe }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
