{% extends "home_cn/home.html" %}
{% import "ui/home_page.html" as pg %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="margin-top:6px;">
                <li>与"{{ key }}"有关的产品，共{{ product_count }}个</li>
            </ol>
        </div>
        <div class="col-md-12">
            {% for v in page_data.items %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('home_cn.product',id=v.id,page=1) }}">
                            <img class="media-object" style="width:131px;height: 83px;"
                                 src="{{ url_for('static',filename='uploads/'+v.logo) }}" alt="{{ v.title }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ v.title }}<a href="{{ url_for('home_cn.product_details',id=v.id) }}"
                                                                  class="label label-primary pull-right"><span
                                class="glyphicon glyphicon-play"></span>查看</a></h4>
{#                        {{ v.info|safe }}#}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-12 text-center">
            {{ pg.page(page_data,'home_cn.search') }}
        </div>
    </div>
{% endblock %}