{% extends "admin/admin.html" %}
{% block css %}
    <script type="text/javascript" src="{{ url_for('static',filename='static/ueditor/ueditor.config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='static/ueditor/ueditor.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='static/ueditor/lang/zh-cn/zh-cn.js') }}"></script>
    <script>
        SyntaxHighlighter.all();
    </script>
{% endblock %}
{% block content %}
    <!--内容-->
    <section class="content-header">
        <h1>联系管理</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 联系管理</a></li>
            <li class="active">添加联系</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">添加联系</h3>
                    </div>
                    {#                    enctype="multipart/form-data" 才能支持文件上传#}
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            {% for msg in get_flashed_messages(category_filter=['ok']) %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    <h4><i class="icon fa fa-check"></i> 操作成功</h4>
                                    {{ msg }}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="input_title">{{ form.name.label }}</label>
                                {{ form.name }}
                                {% for err in form.name.errors %}
                                    <div class="col-md-12">
                                        <font style="color:red">{{ err }}</font>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input_info">{{ form.info.label }}</label>
                                {{ form.info }}
                                {% for err in form.info.errors %}
                                    <div class="col-md-12">
                                        <font style="color:red">{{ err }}</font>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input_info_en">{{ form.info_en.label }}</label>
                                {{ form.info_en }}
                                {% for err in form.info_en.errors %}
                                    <div class="col-md-12">
                                        <font style="color:red">{{ err }}</font>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="box-footer">
                            {{ form.csrf_token }}
                            {{ form.submit }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--内容-->
{% endblock %}
{% block js %}

    <script>
        var ue = UE.getEditor('input_info', {
            'serverUrl': '/ueditor/upload/',
            initialFrameWidth: "100%",
            initialFrameHeight: "100",
        });
    </script>
    <script>
        var ue = UE.getEditor('input_info_en', {
            'serverUrl': '/ueditor/upload/',
            initialFrameWidth: "100%",
            initialFrameHeight: "100",
        });

    </script>
    <!--播放页面-->
    <script>
        $(document).ready(function () {
            $('#input_release_time').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $("#g-5").addClass("active")
            $("#g-5-1").addClass("active")
        })
    </script>
{% endblock %}